#define ANTENA_ID "scan1"
#define MQTT_BROKER "192.168.0.41"
#define MQTT_PORT 1883
#define MQTT_TOPIC "mottag/feed"
#define MQTT_USER ""
#define MQTT_PASSWORD ""

#define WIFI_SSID ""
#define WIFI_PASSWORD ""